@if($profile | async; as profile){
<header class="profile-page__header">
  <app-header [profile]="profile" (TestEmitAngular)="onTestAngular($event)" />

  @if(isMyProfile()){
  <a class="btn profile-page__btn" [routerLink]="['/settings']">
    Редактировать
    <svg icon="settings"></svg>
  </a>
  } @else {
  <button class="btn" (click)="sendMessage(profile.id)">Написать</button>
  }
</header>
<main class="profile-page__body">
  <app-post-list />
  <!-- подписота -->
  <div class="subscribers">
    <h3 class="subscribers__title">Подписки</h3>

    <div class="subscribers__list">
      @for(profile of $subscribers | async; track profile.id){
      <a class="subscribers__item" [routerLink]="['/profile', profile.id]">
        <img
          class="subscribers__avatar"
          src="{{ profile.avatarUrl | imgUrl }}"
          alt=""
        />
      </a>
      }
      <a class="subscribers__search" [routerLink]="['/search']"></a>
    </div>
    <h3 class="subscribers__title">Навыки</h3>
    <div class="subscribers__tags">
      @for(skill of profile.stack; track skill){
      <div class="skill-tag">{{ skill }}</div>
      }
    </div>

    <h3 class="subscribers__title">О себе</h3>
    <p class="subscribers__description">
      {{ profile.description }}
    </p>
  </div>
</main>
}
