@use 'fonts.scss';
:root {
  --darkColor: #000;
  --darkActive: #161616;
  --lightColor: #fff;
  --primaryColor: #ae7aff;
  --grayColor: #5f6460;
  --lightTransparent: rgba(255, 255, 255, 0.75);
  --darkMessage: #404040;
}
/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// TailwindCss Castom
.ml16 {
  margin-left: 16px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb60 {
  margin-bottom: 60px;
}

.svg16 {
  width: 16px;
  height: 16px;
}
//------------------------------------------------------------------
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'JetBrains Mono', sans-serif;
  background-color: var(--darkColor);
  color: var(--lightColor);
  background-image: url('/ImgBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  &::-webkit-scrollbar {
    width: 0.7rem;
  }
  &::-webkit-scrollbar-track {
    background: #333333;
  }
  &::-webkit-scrollbar-thumb {
    background-color: mediumpurple;
    border-radius: 1rem;
    border: 2px solid #333333;
  }
}
.profileCard__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  height: min-content;
}

.skill-tag {
  padding: 4px 8px;
  border: 1px solid var(--lightColor);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}

.btn {
  max-width: 500px;
  // width: 100%;
  border: none;
  background-color: var(--primaryColor);
  color: var(--darkColor);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--darkColor);

  &-write{
    background-color: rgb(206, 88, 206);
  }

  &-shadow {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: -4px;
      right: -4px;
      background-color: var(--gray-color);
      border-radius: 5px;

      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}
.h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}
.subtitle {
  font-size: 14px;
  line-height: 20px;
}

.tt-label {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.tt-input {
  width: 100%;
  margin-top: 8px;
  display: block;
  outline: none;
  border: 1px solid var(--lightColor);
  border-radius: 5px;
  padding: 12px 20px;
  background: var(--darkColor);
  color: var(--lightColor);
  font-size: 14px;
  line-height: 20px;
  font-family: 'JetBrains Mono', sans-serif;
}

.regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    list-style: normal;
  }
}
.tt-form-input {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  list-style: normal;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--lightColor);
  padding-left: 5px;
  background-color: transparent;

  color: var(--lightColor);
  height: 33px;

  &:focus-visible {
    outline: 1px dotted var(--primaryColor);
    border-radius: 5px;
  }
}

.tt-textarea {
  height: 84px;
  resize: vertical;
}

.btn-close {
  background-color: transparent;
  border: 1px solid var(--lightColor);
  color: var(--lightColor);
}
