:host {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}
.name {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
